//Custom Fonts
@import url("https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css");
@import url("https://homegroupsignindevtest.blob.core.windows.net/hmssignin/font.css");
@import "variables";

//Login Main Container
.login {
  max-width: 40em;
  width: 100%;
  max-height: 40em;
  height: 100%;
  //min-height: 44em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
  border-radius: 2em;
  position: relative;
  padding: 17px 10px;
  @media (max-height: 600px) {
    height: auto;
    position: absolute;
    top: 0;
    width: 90%;
  }

  //Content Container
  .content {
    color: $text;
    font-family: $font;
    display: flex;
    flex-direction: column;

    //Header
    .header {
      .image {
        width: 5em;
        margin-bottom: 1.5em;
        margin-top: 0.5em;
        a {
          cursor: default;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
      .greeting {
        font-size: 1.8em;
        margin-top: 0.5em;
        @media screen and (max-width: 600px) {
          font-size: 1.4em;
        }
      }
      .message {
        font-size: 1.2em;
        font-weight: 200;
        margin-top: 1em;
      }
    }

    //Form inputs
    .inputs {
      margin-top: 1em;
      align-items: center;

      .inputs-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 90%;

        label {
          font-size: 1em;
          font-weight: 200;
        }
        input {
          margin-top: 0.3em;
          width: 100%;
          height: 3.7em;
          padding: 0 10px;
          font-size: 0.9em;
          font-weight: 200;
          font-family: $font;
          box-shadow: 0 0 1px 0.3px $border;
          border: 0;
          border-radius: 4px;
          margin-bottom: 0.5em;
          transition: all 250ms ease-in-out;
          &:hover {
            background-color: $white;
            box-shadow: 0 0 4px 0.3px $light-green;
          }

          &:focus {
            outline: none;
            box-shadow: 0 0 4px 0.8px $base-green;
          }
        }
        p {
          height: 1em;
          font-size: 0.95em;
          color: $text-orange;
          margin: 0;
          margin-bottom: 0.8em;
          font-weight: 300;
          @media (max-height: 600px) {
            margin-bottom: 1.5em;
          }
        }
      }
    }

    //rRemember this device
    .remember {
      font-size: 0.95em;
      font-weight: 300;

      .checkbox {
        vertical-align: bottom;
        width: 13px !important;
        height: 13px !important;
        appearance: none;
        outline: 0;
        border: 1px solid $base-green;
        border-radius: 2px;
        box-shadow: none;
        font-size: 2em;
        &:hover {
          box-shadow: 0 0 2px 0.1px $base-green;
        }
        &:checked {
          background-color: $base-green;
          outline: 0;
        }
      }
    }

    //Submit button
    .button {
      .pb-container {
        margin-top: 1.5em;
        display: inline-block;
        text-align: center;
        width: 27%;
      }
      .pb-container .pb-button {
        background: transparent;
        border: 1px solid $border;
        border-radius: 12px;
        color: currentColor;
        cursor: pointer;
        padding: 0.7em 1em;
        text-decoration: none;
        text-align: center;
        height: 4em;
        width: 10em;
        -webkit-tap-highlight-color: transparent;
        outline: none;
        transition: background-color 0.3s, width 0.3s, border-width 0.3s,
          border-color 0.3s, border-radius 0.3s;
        &:hover {
          box-shadow: 0 0 2px 0px $border;
        }
        &:focus {
          box-shadow: none;
        }
      }
      .pb-container .pb-button span {
        display: inherit;
        transition: opacity 0.3s 0.1s;
        font-family: $font;
        font-size: 1.3em;
        font-weight: 200;
      }
      .pb-container .pb-button svg {
        height: 54px;
        width: 54px;
        position: absolute;
        transform: translate(-50%, -50%);
        pointer-events: none;
      }
      .pb-container .pb-button svg path {
        opacity: 0;
        fill: none;
      }
      .pb-container .pb-button svg.pb-progress-circle {
        animation: spin 0.9s infinite cubic-bezier(0.085, 0.26, 0.935, 0.71);
      }
      .pb-container .pb-button svg.pb-progress-circle path {
        stroke: $base-green;
        stroke-width: 1;
      }
      .pb-container .pb-button svg.pb-checkmark path,
      .pb-container .pb-button svg.pb-cross path {
        stroke: $white;
        stroke-linecap: round;
        stroke-width: 3;
      }
      .pb-container.disabled .pb-button {
        cursor: not-allowed;
      }
      .pb-container.loading .pb-button {
        width: 54px;
        border-width: 1px;
        border-color: transparent;
        cursor: auto;
        background-color: transparent;
        padding: 0;
      }
      .pb-container.loading .pb-button span {
        transition: all 0.15s;
        opacity: 0;
        display: none;
      }
      .pb-container.loading .pb-button .pb-progress-circle > path {
        transition: opacity 0.15s 0.3s;
        opacity: 1;
      }
      .pb-container.success .pb-button {
        border-color: $base-green;
        background-color: $base-green;
      }
      .pb-container.success .pb-button span {
        transition: all 0.15s;
        opacity: 0;
        display: none;
      }
      .pb-container.success .pb-button .pb-checkmark > path {
        opacity: 1;
      }
      .pb-container.error .pb-button {
        border-color: $button-error;
        background-color: $button-error;
      }
      .pb-container.error .pb-button span {
        transition: all 0.15s;
        opacity: 0;
        display: none;
      }
      .pb-container.error .pb-button .pb-cross > path {
        opacity: 1;
      }
      @keyframes spin {
        from {
          transform: translate(-50%, -50%) rotate(0deg);
          transform-origin: center center;
        }
        to {
          transform: translate(-50%, -50%) rotate(360deg);
          transform-origin: center center;
        }
      }
    }

    //Contact Us
    .contact {
      margin-top: 0.8em;
      font-size: 1em;
      font-weight: 400;
      a {
        text-decoration: none;
        color: $text-green;
        &:hover {
          text-decoration: underline;
          color: $text-orange;
          cursor: pointer;
        }
      }
    }
  }
}
