$base-green: #2eaf5f;
$text-green: #1c693a;
$light-green: #9eecbc;
$border: #c5c5c5;
$white: #ffffff;
$button-error: #ed5565;
$text: #3b3b3b;
$text-orange: #a36200;
$gradient-yellow: #faffd1;

$font: "GothamPro";
