$base-green: #26818c;
$text-green: #26818c;
$light-green: #98cacf;
$border: #aaaaaa;
$white: #ffffff;
$button-error: #ed5565;
$text: #4f4e56;
$text-orange: #ca9800;
$gradient-yellow: #f0f0f0;

$font: "Trueno";
